@import '../../styles/mixins';
.form {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-gap: 1em;
    form {
        @include breakpoint(mobile) {
            width: unset;
        }
        width: 30em;
        padding: 1em;
        .content {
            display: grid;
            grid-gap: 0.8em;
            .body {
                display: grid;
                grid-gap: 1em;
                .message {
                    p {
                        float: right;
                        font-size: 0.9rem;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            .heading {
                text-align: center;
                margin-bottom: 1em;
                line-height: 0.1em;
                h1 {
                    line-height: 1em;
                    font-size: 3rem;
                    @include breakpoint(mobile) {
                        font-size: 2.3rem;
                    }
                }
                p {
                    margin-top: 1em;
                }
            }
        }
    }
}