.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 16em auto;
    // sidebar
    // body
    &__body {
        display: grid;
        grid-template-rows: 80px auto;
        grid-gap: 2em;
        &__sub-navbar {
            position: fixed;
            width: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em 18em 1em 2em;
            background-color: var(--white-0);
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0 0 30px var(--gray-3);
            .left {
                line-height: 30px;
                h1 {
                    font-size: var(--font-size-2);
                    color: var(--black-2);
                }
            }
            .right {
                display: flex;
                align-items: center;
                gap: 2em;
                .user {
                    img {
                        width: 3em;
                        height: 3em;
                        border-radius: 100%;
                    }
                }
                .user,
                .icon {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                }
            }
        }
    }
    &__sub-routes {
        margin-top: 7em;
        padding: 0 2em 0 2em;
    }
}