th {
    background-color: var(--green-1);
    color: var(--white-1);
}

tr {
    background-color: var(--white-0);
}

tr,
th,
td {
    border: 0.6 var(--gray-1) solid;
}

th,
td {
    padding: 1em;
}

td.custom__td {
    padding: 0 1em 0 1em;
}

table {
    th:last-child {
        width: 5em;
    }
    th:first-child {
        width: 3em;
    }
}

.col {
    float: right;
    display: flex;
    align-items: center;
    button {
        width: 8em;
        transform: scale(0.8);
        &:last-child {
            color: var(--white-0);
            background-color: var(--red-1);
        }
    }
}