@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Work+Sans:wght@300;400;500;600&display=swap');
@use 'variables';
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Work Sans', sans-serif;
    color: var(--black-2);
}

body {
    color: var(--black-1);
    background-color: #f7f8fc;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button,
textarea,
input,
select,
option {
    border: none;
    padding: 0.8em 1em 0.8em 1em;
    max-height: 6em;
    width: 100%;
    border-radius: var(--radius-1);
    border: 0.5px var(--white-1) solid;
    color: var(--gray-1);
}

select {
    padding: 0.59em;
}

span {
    color: var(--green-1);
}

option {
    color: var(--black-2);
}

hr {
    opacity: 0.3;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    padding: 1em 2em 1em 2em;
    font-weight: bold;
    border: unset;
    background: none;
}

input[type='date'] {
    height: 2.8em;
}

textarea {
    min-width: 30em;
    min-height: 10em;
}

label {
    margin-bottom: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
}