:root {
    --white-0: #ffffff;
    --white-1: #e7e7e7;
    --white-2: #d1caca;
    --black-1: #1a1a1a;
    --black-2: #363740;
    --black-3: #757679;
    --green-1: #4c9a2a;
    --green-2: #338a0e;
    --green-3: #215a0a;
    --hover: #37721e;
    --gray-1: #757373;
    --gray-2: #a4a6b3;
    --gray-3: #c9cacd;
    --font-size-3: 3rem;
    --font-size-2: 2rem;
    --font-size-1: 1rem;
    --weight-1: 900;
    --weight-2: 700;
    --weight-3: 400;
    --radius-1: 5px;
    --radius-2: 30px;
    --large: 0 4em 0 4em;
    --transition: all 0.5s;
}